table {
    width: 60%;
    margin: 0 auto;
    table-layout: fixed;
}
table tr td {
    height: 170px;
    border-top: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    width: auto;
    text-align: center;
}
table tr:first-child td {
    border-top: none;
}
table tr td:last-child {
    border-right: none;
}

#result-container {
    background: #c3c3c3;
}